[Desktop Entry]
Type=Application
Version=1.0
Name=Install Antergos
GenericName=System Installer
Comment=Cnchi — Antergos System Installer
Keywords=cnchi;system;installer;
TryExec=cnchi
Exec=sudo -E cnchi
Categories=Qt;System;
Icon=cnchi
Terminal=false
SingleMainWindow=true
StartupNotify=true
